<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>FIFA Results</title>
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/jquery.dataTables.css') }}">
</head>
<body>
    <!--<a href="im:<sip:jparsons@wayfair.com><sip:aballantine@wayfair.com><sip:thare@wayfair.com>">Open Game IM</a>-->
    <table id="game_history" class="display fl" cellspacing="0" width="90%">
        <caption>Game History</caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Away Players</th>
                <th>Away Team</th>
                <th>Score</th>
                <th>Home Players</th>
                <th>Home Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for game in game_history.models %}
            <tr>
                <td>{{game.date}}</td>
                <td>{{game.away_players|join(',')}}</td>
                <td>{{game.away_team}}</td>
                <td>{{game.away_score}}</td>
                <td>{{game.home_players|join(',')}}</td>
                <td>{{game.home_team}}</td>
                <td>{{game.home_score}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
    <h2>Add game results</h2>
    <form action="{{ url_for('add_game') }}" method="post">
        <input type="text" name="date" placeholder="date"></input><br/>
        <input type="text" name="home_team" placeholder="home team"></input><br/>
        <input type="text" name="home_players" placeholder="player1,player2"></input><br/>
        <input type="text" name="home_score" placeholder="home score"></input><br/>
        <input type="text" name="away_team" placeholder="away team"></input><br/>
        <input type="text" name="away_players" placeholder="player3,player4"></input><br/>
        <input type="text" name="away_score" placeholder="away score"></input><br/>
        <input type="text" name="half_length" placeholder="half length"></input><br/>
        <input type="submit"/>
    </form>
    <div class="table_wrapper">
    <table id="player_results" class="display fl" cellspacing="0">
        <caption>Indvidual Player Records</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Games Played</th>
                <th>Winning Percentage</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th>Goals For (GF)</th>
                <th>GF Per Game</th>
                <th>Goals Against (GA)</th>
                <th>GA Per Game</th>
                <th>Goal Differential</th>
                <th>GD Per Game</th>
            </tr>
        </thead>
        <tbody>
            {% for player, stats in player_results.iteritems() %}
            <tr>
                <td>{{player}}</td>
                <td>{{stats['total_games']}}</td>
                <td>{{stats['winning_percentage']|round(2)}}</td>
                <td>{{stats['wins']}}</td>
                <td>{{stats['losses']}}</td>
                <td>{{stats['ties']}}</td>
                <td>{{stats['goals']}}</td>
                <td>{{stats['goals_per_game']|round(2)}}</td>
                <td>{{stats['goals_against']}}</td>
                <td>{{stats['goals_against_per_game']|round(2)}}</td>
                <td>{{stats['goal_differential']}}</td>
                <td>{{stats['goal_differential_per_game']|round(2)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="table_wrapper">
    <table id="team_results" class="display fl" cellspacing="0">
        <caption>Team Records</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Games Played</th>
                <th>Winning Percentage</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th>Goals For (GF)</th>
                <th>GF Per Game</th>
                <th>Goals Against (GA)</th>
                <th>GA Per Game</th>
                <th>Goal Differential</th>
                <th>GD Per Game</th>
            </tr>
        </thead>
        <tbody>
            {% for team, stats in team_results.iteritems() %}
            <tr>
                <td>{{team}}</td>
                <td>{{stats['games_played']}}</td>
                <td>{{stats['winning_percentage']|round(2)}}</td>
                <td>{{stats['wins']}}</td>
                <td>{{stats['losses']}}</td>
                <td>{{stats['ties']}}</td>
                <td>{{stats['goals']}}</td>
                <td>{{stats['goals_per_game']|round(2)}}</td>
                <td>{{stats['goals_against']}}</td>
                <td>{{stats['goals_against_per_game']|round(2)}}</td>
                <td>{{stats['goal_differential']}}</td>
                <td>{{stats['goal_differential_per_game']|round(2)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>