<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>FIFA Results</title>
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.flot.js') }}"></script>
    <script type="text/javascript">
        $(function () {
        	var cachedData;
	    	var graphData = function(field, field_label, is_average) {
		       	if (!cachedData) {
		       		var url = "{{ url_for('.get_weekly_stats') }}";
		       		url += '?';
					{% if all_players %}
				        url += "&all_players=true";
				    {% endif %}
				    {% if weeks %}
					    url += "&weeks=" + {{weeks}};
					{% endif %}
			        $.ajax(
			        	{url: url,
			        	success: function(data) {
			        		data = JSON.parse(data);
			        		cachedData = data;
			        		drawGraph(cachedData, field, field_label, is_average);
			        		}
			        	});
		       	} else {
		       		drawGraph(cachedData, field, field_label, is_average);
		       	}

	    	}

	    	var drawGraph = function(data, field, field_label, is_average) {
	    		var date_labels = [];
		       	var weekly_data = {};
		       	var cumulative_data = {};
	    		data.forEach(function(e, i) {
    				console.log(e.start_date);
    				date_labels.push([e.start_date]);
    				// console.log(e.stats.player_stats);
    				e.stats.player_stats.forEach(function(player) {
    					var label = player.name + ' ' + field_label;
    					if (!(weekly_data.hasOwnProperty(label))) {
    						weekly_data[label] = [];
    					}
    					if (!(cumulative_data.hasOwnProperty(label))) {
    						cumulative_data[label] = [];
    						cumulative_data[label][i] = player[field];
    						// debugger;
    					} else {
    						// debugger;
	    					cumulative_data[label][i] = player[field] + cumulative_data[label][i-1];
	    					// console.log(cumulative_data);
    					}
    					weekly_data[label].push([i, player[field]]);
    				});
    			});

    			var better_cumulative_data = [];
    			for (var key in cumulative_data) {
    				if (cumulative_data.hasOwnProperty(key)) {
    					var data = cumulative_data[key];
    					var list = [];
    					for (var key2 in data) {
    						if (data.hasOwnProperty(key2)) {
    							if (is_average){
    								var divisor = parseInt(key2) + 1;
    								console.log(divisor);
    								console.log(data[key2]);
    								console.log(key + ' ' + key2 + ' ' + data[key2] / divisor);
    								list.push([key2, data[key2]/divisor])
    							} else {
	    							list.push([key2, data[key2]]);
    							}
    						}
    					}
    					better_cumulative_data[key] = list;
    				}
    			}

    			var graph_data = [];
    			var colors = ["#FF4646", "#FF9A46", "#36C5C5", "#3EE23E"];
    			for (var label in weekly_data) {
					if (weekly_data.hasOwnProperty(label)) {
						var color = colors.pop();
						graph_data.push({label: label, data: weekly_data[label], yaxis: 1, color:color});
						graph_data.push({label: label + ' (cumulative)', data:better_cumulative_data[label], points: {show:true}, yaxis:2, color: color})
					}
				}
    			var ticks = [];
    			for (var i = 0; i < date_labels.length; i++) {
    				ticks.push([i, date_labels[i]]);
    			}

				$.plot("#placeholder", graph_data, {
					xaxis: {
						ticks: ticks
					},
					yaxes: [
						{},
						{position:'right'}
					],
					legend: {
						position: 'nw'
					}
				});
	    	}

	    	graphData("wins", "Wins");

	    	$("#stat_selector").on('change', function(e) {
	    		var selected = $('#stat_selector option:selected');
	    		var is_average = selected.attr('data-average');
	    		is_average = false;// This isn't working
	    		graphData(selected.val(), selected.attr('data-label'), is_average);
	    	});
		});
    </script>
</head>
<body>
	<select id="stat_selector">
		<option value="wins" data-label="Wins">Wins</option>
		<option value="total_games" data-label="Total Games">Total Games</option>
		<option value="winning_percentage" data-label="Winning Percentage" data-average="true">Winning Percentage</option>
		<option value="goals" data-label="Goals">Goals</option>
		<option value="goals_per_game" data-label="Goals Per Game" data-average="true">Goals Per Game</option>
		<option value="goals_against" data-label="Goals Against">Goals Against</option>
		<option value="goals_against_per_game" data-label="Goals Against Per Game" data-average="true">Goals Against Per Game</option>
		<option value="goal_differential" data-label="Goal Differential">Goal Differential</option>
		<option value="goal_differential_per_game" data-label="Goal Differential Per Game" data-average="true">Goal Differential Per Game</option>
	</select>
    <div id="placeholder" style="width:1000px;height:500px"></div>
</body>
</html>